<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="Dbcontext" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\DELL\Downloads\CarWashManagementSystem\CarWashManagementSystem\CarWashManagementSystem\DBCarWash.mdf;Integrated Security=True; Connect Timeout=30" />
	</connectionStrings>
	<appSettings>
		<add key="ssisServer" value="localhost" />
	</appSettings>
</configuration>